In [24]:
#importing the necessary libraries

import pandas as pd

In [25]:
#here we are reading the csv file and puting in a pandas dataframe
data = pd.read_csv('/kaggle/input/london-bike-sharing-dataset/london_merged.csv')

In [26]:
#exploring the data a little bit
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [27]:
data.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [28]:
#counting unique values in the weather collumn
data.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [29]:
#counting unique values in the season collumn
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [30]:
#specifying better collumn names
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'real_temperature_C',
    't2':'feels_like_temperature_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kmh',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified column names
data.rename(new_cols_dict, axis=1, inplace=True)

In [31]:
data.head()

,time,count,real_temperature_C,feels_like_temperature_C,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [33]:
#changing the humidity values to percentage (i.e. a value between 0 and 1)
data.humidity_percent = data.humidity_percent / 100

In [34]:
#creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

#creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

#changing the seasons column data type to string
data.season = data.season.astype('str')
#mapping the values 0-3 to the actual written seasons
data.season = data.season.map(season_dict)

# changing the weather column data type to string
data.weather = data.weather.astype('str')
# mapping the values to the actual written weathers
data.weather = data.weather.map(weather_dict)

In [35]:
data.head()

,time,count,real_temperature_C,feels_like_temperature_C,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [37]:
#Adjusting the is_holiday collumn to a boolean form

#replacing 0 with False and 1 with True in the 'is_holiday' column
data['is_holiday'] = data['is_holiday'].replace({0: False, 1: True})

data.head()

,time,count,real_temperature_C,feels_like_temperature_C,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,False,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,False,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,False,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,False,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,False,1.0,winter

In [38]:
#Adjusting the is_weekend collumn to a boolean form

#replacing 0 with False and 1 with True in the 'is_holiday' column
data['is_weekend'] = data['is_weekend'].replace({0: False, 1: True})

data.head()

,time,count,real_temperature_C,feels_like_temperature_C,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,False,True,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,False,True,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,False,True,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,False,True,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,False,True,winter

In [39]:
data

,time,count,real_temperature_C,feels_like_temperature_C,humidity_percent,wind_speed_kmh,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,False,True,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,False,True,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,False,True,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,False,True,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,False,True,winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,False,False,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,False,False,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,False,False,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,False,False,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,False,False,winter

In [40]:
# writing the final dataframe to an excel file 
data.to_excel('london_bikes_final.xlsx', sheet_name='Data')